@model GamingVIVE.Models.MCGameModels.MontizedCategoryGameEdit

@{
    ViewData["Title"] = "EditCategoryConnection";
}

<h1>Edit Category Connection</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditCategoryConnection">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="GameId" class="control-label"></label>
                <input asp-for="GameId" class="form-control" />
                <span asp-validation-for="GameId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MontizedCategoryId" class="control-label"></label>
                <input asp-for="MontizedCategoryId" class="form-control" />
                <span asp-validation-for="MontizedCategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="CategoryConnectionSettings">Back to Connection Settings</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
