@model GamingVIVE.Models.GamingSystemModels.GamingSystemEdit

@{
    ViewData["Title"] = "EditGamingSystem";
}

<h1>Edit Gaming System</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditGamingSystem">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="GamingSystemId" class="control-label"></label>
                <input asp-for="GamingSystemId" class="form-control" />
                <span asp-validation-for="GamingSystemId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="GamingSystemSettings">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
